@import "tailwindcss";
/* Firefox */
.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Chrome, Safari */
.hide-scrollbar::-webkit-scrollbar {
  height: 8px; /* for horizontal scrolling */
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
